.custom-select {
  border: 1px solid #E8E8E8; /* Add your desired border style */
  border-radius: 8px; /* Add border radius */
  background-color: #fff;
  width: 450px;
  color: white;

}

.custom-select .mat-select-value {
  padding: 5px; /* Adjust padding */
}

.custom-select .mat-option {
  padding: 5px 10px; /* Adjust padding for options */
  color: #fff; /* Adjust text color for options */
}

.custom-select .mat-option:hover {
  background-color: #fff; /* Adjust background color on hover */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.table-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-right: 1px solid #ddd;
}

.table-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.rate-cell {
  text-align: center;
}
.star{
  font-size: 12px;
}
