<mat-form-field class="custom-select">
  <mat-label>Select your skills</mat-label>
  <mat-select [formControl]="skills" multiple (selectionChange)="onToppingsSelectionChange($event)">
    <mat-option *ngFor="let skills of skillsList" [value]="skills">{{ skills }}</mat-option>
  </mat-select>
</mat-form-field>


<table class="custom-table">
  <thead>
  <tr>
    <th class="table-header">Skill</th>
    <th class="table-header">Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let topic of selectedSkills">
    <td class="table-cell">{{ topic }}</td>
    <td class="table-cell rate-cell">
        <ngb-rating [(rate)]="skill_rate[topic]"></ngb-rating>
        <pre>Rate: <b>{{skill_rate[topic]}}</b></pre>
    </td>
  </tr>
  </tbody>
</table>



