
<div class="profile-container">
  <!-- Left Section: Employee Information -->
  <div class="employee-info">
    <div class="photo">
      <img src="/assets/userImg.png" alt="User Photo" class="user-photo">
    </div>
    <div class="custom-row">
      <div class="custom-column">
        <p class="title">Name</p>
        <p class="value">John Doe</p>
      </div>
      <div class="custom-column">
        <p class="title">Department</p>
        <p class="value">HR Department</p>
      </div>
    </div>
    <div class="custom-row">
      <div class="custom-column">
        <p class="title">Email</p>
        <p class="value">johndoe@example.com</p>
      </div>
      <div class="custom-column">
        <p class="title">Group</p>
        <p class="value">Management</p>
      </div>
    </div>
    <div class="custom-row">
      <div class="custom-column">
        <p class="title">Grade</p>
        <p class="value">A</p>
      </div>
      <div class="custom-column">
        <p class="title">Salary</p>
        <p class="value">$80,000</p>
      </div>
    </div>
    <div class="custom-column">
      <p class="title">Description</p>
      <p class="value-desciption">Experienced HR professional with a focus on...</p>
    </div>
    <div class="custom-column">
      <p class="title">Domain</p>
      <p class="value">Human Resources</p>
    </div>
    <div class="button">
      <button class="edit-button">Edit Profile</button>
    </div>
  </div>

  <!-- Right Section: Graphs -->
  <div class="right-section">
    <div class="apx-column">
    <apx-column></apx-column>
    </div>
    <div class="apx-column">
     <apx-line></apx-line>
    </div>

    <!-- Your graph components or placeholders go here -->
  </div>
</div>

