<div class="dashboard">
  <div class="box">
    <h2 class="box-title">Total Employees</h2>
    <p class="box-number">{{this.users}}</p>
    <p class="box-text">Employee</p>
  </div>

  <div class="box">
    <h2 class="box-title">Total Projects</h2>
    <p class="box-number">{{this.projects}}</p>
    <p class="box-text">project</p>
  </div>

  <div class="box">
    <h2 class="box-title">Total tasks</h2>
    <p class="box-number">{{this.workloads}}</p>
    <p class="box-text">tasks </p>
  </div>

  <div class="box">
    <h2 class="box-title">Resigned Employees</h2>
    <p class="box-number">17</p>
    <p class="box-text">Employee</p>
  </div>
  <job-statistic></job-statistic>

</div>
