@import url('https://fonts.cdnfonts.com/css/product-sans');
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {

  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 23%;
  height: 139px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 2px solid #ECEEF6;
  background: #FFF;
}

.box-title {
  color: #343434;
  font-family:'Product Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
}

.box-number {
  color: #232323;
  font-family: Product Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
}

.box-text {
  color: #949494;
  font-family: Product Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
