<div class="project-page">
  <div class="button-container">

    <button class="custom-button btn"   (click)="navigateToAddProject()" >Add Project</button>

    <!-- Your employee list here... -->
  </div>
  <h2 class="title">Total Projects</h2>
  <div class="custom-box">

  <div class="project-box"  *ngFor="let job of jobinfo">
    <div class="custom-row">
      <div class="project-title">{{ job.projectName }}</div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="custom-btn" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="navigateToAddEmployee(job.projectId)" mat-menu-item>
          <span>Add Workload</span>
      </button>
      <button (click)="navigateToWorkload(job.projectId)" mat-menu-item>
        <span>See Workloads</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Mark as</button>
      <button mat-menu-item>
        <span>Delete Project</span>
      </button>

    </mat-menu>
      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item >In Progress</button>
        <button mat-menu-item >Done</button>
        <button mat-menu-item >Failed</button>
      </mat-menu>

    </div>
    <div [class]="'project-status ' + getStatusClass('Done')">{{ "in progress" }}</div>
    <div class="assigned-team">Team : {{ job.team.name }}</div>
    <div class="start-date">Start-date : {{ job.startDate | date }}</div>
  </div>
  </div>
</div>
