.custom-button{
  border-radius: 12px;
  background: #264ECA;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 198px;
  height: 47px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Product Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;

}
