<div class="add-employee-form">
  <div class="form-header">
    <div class="form-container">
      <div class="form-row" *ngFor="let diplomaGroup of diplomaGroups.controls; let i = index">
        <div class="input-container">
          <input type="text" [placeholder]="'Diploma ' + (i + 1)" class="transparent-input" formControlName="diploma">
        </div>
        <div class="input-container">
          <input type="date" placeholder="Birthdate" class="transparent-input" formControlName="birthdate">
        </div>
        <fa-icon [icon]="faTrash" class="delete-icon" *ngIf="diplomaGroups.length > 1" (click)="deleteDiplomaGroup(i)"></fa-icon>
      </div>
      <fa-icon [icon]="faPlus" class="add-icon" (click)="addDiplomaGroup()"></fa-icon>
    </div>
    <div class="form-row">
      <div class="form-container">
        <mat-form-field class="custom-select">
          <mat-label>Select your skills</mat-label>
          <mat-select  multiple (selectionChange)="onToppingsSelectionChange($event)">
            <mat-option *ngFor="let skills of skillinfo" [value]="skills">{{ skills.name }}</mat-option>
          </mat-select>
        </mat-form-field>


        <table class="custom-table">
          <thead>
          <tr>
            <th class="table-header">Skill</th>
            <th class="table-header">Rate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let topic of selectedSkills">
            <td class="table-cell">{{topic.name}}</td>
            <td class="table-cell rate-cell">
              <ngb-rating [(rate)]="topic.proficiency"></ngb-rating>
              <pre>Rate: <b>{{topic.proficiency}}</b></pre>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div>
      <textarea
        [(ngModel)]="text"
        (input)="countWords()"
        placeholder="Description"
      ></textarea>
      <p class="word">{{ wordCount }} / 250 words</p>
    </div>
    <div class="button-container">
      <button class="clear-button">Clear</button>
      <button class="add-button" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
