<div class="add-employee-form">

  <div class="form-container">

    <!-- Employee Selection -->
    <div class="form-row">
      <input class="custom_input" type="text" placeholder="Project Name" step="10"/>
      <select [(ngModel)]="selectedOption" placeholder="Workload" class="custom-select">
        <option value="0" disabled selected>Select Team </option>
        <option *ngFor="let user of users" [value]="user">{{ user }}</option>
      </select>
    </div>

    <div class="form-row">
      <input class="textbox-n custom_input"
             placeholder="start_date"
             type="text"
             onfocus="(this.type='date')"
      >
      <input class="textbox-n custom_input"
             placeholder="Deadline"
             type="text"
             onfocus="(this.type='date')"
      >
    </div>
    <!-- Other Selections -->

    <textarea class="text-area"
              [(ngModel)]="text"
              (input)="countWords()"
              placeholder="Description"
    ></textarea>
  </div>


  <!-- Buttons -->
  <div class="button-container">
    <button class="clear-button">Clear</button>
    <button class="add-button">Submit</button>
  </div>
</div>

