<div class="button-container">

<button class="custom-button btn"  (click)="navigateToAddEmployee()" >Add Employee</button>

  <!-- Your employee list here... -->
</div>
<div class="employee-list">
  <table>
    <thead>
    <tr>
      <th >Name</th>
      <th >Department</th>
      <th>Group</th>
      <th>Total Projects</th>
      <th>Total Workload</th>
      <th>Age</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let user of userInfo | paginate: { itemsPerPage: 10, currentPage: p };let i = index">

      <td><div class="employee-info">
        <img class="employee-image" src="/assets/userImg.png" alt="">
        <p class="employee-name" >{{ user.firstname +' '+ user.lastname}}</p>
      </div></td>
      <td></td>
      <td></td>
      <td>{{ user.totalProjects }}</td>
      <td>{{percentageInfo[i] }}</td>
      <td>{{ getAge(user.birthdate) }}</td>
      <td><div [ngClass]="getStatusClass(user.status)"> Offline</div>
    </td>

    </tr>
    </tbody>
  </table>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>
