<div class="add-employee-form">
  <div class="form-header">
    <div class="form-container">
      <div class="form-row" *ngFor="let diplomaGroup of diplomaGroups.controls; let i = index">
        <div class="input-container">
          <input type="text" [placeholder]="'Diploma ' + (i + 1)" class="transparent-input" formControlName="diploma">
        </div>
        <div class="input-container">
          <input type="date" placeholder="Birthdate" class="transparent-input" formControlName="birthdate">
        </div>
        <fa-icon [icon]="faTrash" class="delete-icon" *ngIf="diplomaGroups.length > 1" (click)="deleteDiplomaGroup(i)"></fa-icon>
      </div>
      <fa-icon [icon]="faPlus" class="add-icon" (click)="addDiplomaGroup()"></fa-icon>
    </div>
    <div class="form-row">
      <div class="form-container">
        <skills-dropdown></skills-dropdown>
      </div>
    </div>
    <div>
      <textarea
        [(ngModel)]="text"
        (input)="countWords()"
        placeholder="Description"
      ></textarea>
      <p class="word">{{ wordCount }} / 250 words</p>
    </div>
    <div class="button-container">
      <button class="clear-button">Clear</button>
      <button class="add-button">Submit</button>
    </div>
  </div>
</div>
