@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.gradient-container {
  background: linear-gradient(90deg, rgba(24, 159, 254, 0.30) 0%, #0062CC 100%), #189FFE;
  height: 100vh;
  padding: 20px;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  position: relative;
}

.centered-container {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column; /* Display children elements in a column */
  align-items: center; /* Center children horizontally */
}

.decoration-container {
  position: absolute;
  top: 0;
  right: 0;

}

.decoration-container2 {
  position: absolute;
  bottom: 0;
  left: 0;

}
.decoration-container svg {
  width: 100%;
  height: auto;
}

.decoration-container2 svg {
  width: 500px;
  height: auto;
}

.logo {

  max-width: 100%;
  width: 245px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}

.btn{
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  width: 300px;
  height: 45px;
  flex-shrink: 0;
  color: #2148C0;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
